.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 10px;
  }
  h1{
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  body{
      background-color: #abd699;
  }
  .grid-item {
    font-size: 30px;
  }
  .item1 {
    text-align: center;
    width: 220px;
    height: 80px;
    background: #75c9b7;
    border-radius: 40px;
    /**Center Code */
    display: flex;
    justify-content: center;
    align-items: center;
    /**---**/
    font-size: 30px;

    grid-column: 2 / 2;

    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .item2 {
    text-align: center;
    width: 220px;
    height: 80px;
    background: #75c9b7;
    border-radius: 40px;
    /**Center Code */
    display: flex;
    justify-content: center;
    align-items: center;
    /**---**/
    font-size: 30px;

    grid-column: 4 / 4;

    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .item3 {
   text-align: center;
    width: 220px;
    height: 80px;
    background: #75c9b7;
    border-radius: 40px;
    /**Center Code */
    display: flex;
    justify-content: center;
    align-items: center;
    /**---**/
    font-size: 30px;

    grid-column: 6 / 6;

    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .item4 {
    text-align: center;
     width: 220px;
     height: 80px;
     background: #75c9b7;
     border-radius: 40px;
     /**Center Code */
     display: flex;
     justify-content: center;
     align-items: center;
     /**---**/
     font-size: 30px;
 
     grid-column: 6 / 6;
 
     color: whitesmoke;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
  .item5{
    /**Center Code */
    display: flex;
    justify-content: center;
    align-items: center;
    /**---**/
  }
 