.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding: 20px;
  }
  h1{
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  body{
      background-color: #abd699;
  }
  .grid-item {
    font-size: 30px;
  }
  .item1 {
    grid-column: 3 / 4;
  }
  .item2 {
    grid-column: 4 / 5;
  }
  .item3 {
    grid-column: 5 / 6;
  }
  .item4 {
     grid-column: 6 / 7;
   }

  .button{
    text-align: center;
     width: 220px;
     height: 80px;
     background: #75c9b7;
     border-radius: 40px;
     /**Center Code */
     display: flex;
     justify-content: center;
     align-items: center;
    /**---**/
    font-size: 30px;

    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
  .item5{
    /**Center Code */
    display: flex;
    justify-content: center;
    align-items: center;
    /**---**/
  }
 